<link rel="stylesheet" href="/SiteCss/global.css">

<section class="expandedProductCard">
    <div class="contentLt" id="">
        <h2 class="headline ">Additional High-Level Details about Selected Product</h2>
            <p class="paragraph">
                Rhoncus morbi et augue nec, in id ullamcorper at sit. Condimentum sit nunc in eros scelerisque sed. Commodo in viverra nunc, ullamcorper ut. Non, amet, aliquet scelerisque nullam sagittis, pulvinar. Fermentum scelerisque sit consectetur hac mi. Mollis leo eleifend ultricies purus iaculis.
            </p>
            <div class="buttons-group">
                <button class="button primary-button">Let's Find Out!</button>
                <button class="button secondary-button">Let's Find Out!</button>
            </div>
    </div>
    <div class="image-container expandedProductImg ">
        <img src="/Assets/Images/New Applications/All Products Page/Header Image.jpg" alt="House" class="image" id="expandedProductImg">
    </div>
</section>