    <link rel="stylesheet" href="/SiteCss/global.css">


  <section class="featureIconsSection">
      <h2 class="headline featureIconsHeadline">High Level Product Features</h2>
    <div class="feature-row">
      
        <div class="feature">
        <img class="featureIcon" id="featureIcon1" src="./assets/icon-jam-icons-outline-logos-calendar.svg" alt="Calendar" />
        <p class="paragraph featureDescription">Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec...</p>
      </div>

      <div class="feature">
        <img class="featureIcon" id="featureIcon2" src="./assets/icon-jam-icons-outline-logos-calendar.svg" alt="Calendar" />
        <p class="paragraph featureDescription">Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec...</p>
      </div>
      </div>
      <div class="feature-row">
      <div class="feature">
        <img class="featureIcon" id="featureIcon3" src="./assets/icon-jam-icons-outline-logos-calendar.svg" alt="Calendar" />
        <p class="paragraph featureDescription">Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec...</p>
      </div>

      <div class="feature">
        <img class="featureIcon" id="featureIcon4" src="./assets/icon-jam-icons-outline-logos-calendar.svg" alt="Calendar" />
        <p class="paragraph featureDescription">Nibh nullam vitae semper pharetra sit enim id. Ut eu non massa nec...</p>
      </div>
    </div>
    </div>
  </section>